html {
    font-size: calc(100vh * 0.02);
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.bolder {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.smaller {
    font-size: 0.9rem;
}

a {
    color: #333333;
    font-style: italic;
    text-decoration: underline;
}

h2, h3, h4 {
    margin: 1em 0 0.5em
}

h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 0.8em
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 400;
}
h4 {
    font-size: 1.1rem;
    font-weight: 300;
}

ul {
    font-weight: 300;
    padding-left: 1.5em;
}

ul > li {
    margin-bottom: 1em
}

img,
iframe,
embed,
video,
audio {
    max-width: 100%;
}