@import "bootstrap.min.css";
@import "fonts.css";
@import "base.css";
@import "footer.css";

#news, #conference {
	padding: 5% 3%;
}

#title {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-left: 3%;
	padding-right: 3%;
}

#title {
	background-image: url("../img/logo-bub-berlin.png");
	background-repeat: no-repeat;
	background-position: 90% 0;
	background-size: 5em;
}

#title h1 {
	margin-bottom: 3%;
}

#title p {
	margin-bottom: 0;
}

#title a {
	font-weight: bold;
}

#news {
	background-color: rgba(229,243,195,.7);
}

#news > ul > li {
	list-style: none;
}

#conference {
	background-color: rgba(214, 231, 243, .8);
}

#conference a {
	font-weight: bold;
}

#impressum > ul > li {
	list-style: none;
	margin-bottom: .3em
}