body > footer {
    padding: 1em 4vmax;
    background-color: rgba(54,54,54,.8);
    color:  #C5C5C5;
}

body > footer > .container-fluid > .col > p {
    margin: 1em 0 1em;
    color: #C5C5C5;
}

body > footer > .container-fluid > .col > a {
    color: #C5C6C5
}

body > footer > a {
    color: #C5C5C5;
}

body > footer > p.funding-note {
    font-size: 0.9rem;
    text-align: left;
}

body > footer > p.funding-note > a {
    margin-left: 0;
}