<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}" class="h-100">
  {{ partial "head.html" . }}
  <body class="d-flex flex-column h-100">
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>