{{ define "main" }}
<div class="container-fluid">
  <div class="row">
    <div id="impressum" class="col-lg-10 offset-lg-1">
      <h2 class="header">
        {{ .Content }}
      </h2>
    </div>
  </div>
</div>
{{ end }}