{{ $footer := .Site.GetPage "/footer" }}
<footer id="footer">
  <div class="container-fluid">
    <div class="col">
      {{ if .IsHome }}
        <a href="{{ ref . "impressum"}}">Impressum & Datenschutzerklärung</a>
      {{ else }}
        <a href="{{ relref . "/" }}">Zur Hauptseite</a>
      {{ end }}

      {{ $footer.Content | markdownify }}
    </div>
  </div>
</footer>