<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ hugo.Generator }}
  <link rel="stylesheet" href="{{ "css/custom.css" | absURL }} ">
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}
    {{ $title = .Site.Title }}
  {{ end }}
  <title>{{ $title }}</title>
</head>