{{ define "main" }}
{{ $title := . }}
{{ $news := .Site.GetPage "/news" }}
{{ $conference := .Site.GetPage "/conference" }}
  <div class="container-fluid">
	<div class="row">
	  <div id="title" class="col-xl-4">
	    <h2 class="header">
				{{ $title.Title }}
			</h2>
	    {{ $title.Content | markdownify }}
	  </div>
	  <div id="news" class="col-xl-4">
	    <h2>{{ $news.Title }}</h2>
	    {{ $news.Content | markdownify }}
	  </div>
	  <div id="conference" class="col-xl-4">
			<h2>{{ $conference.Title }}</h2>
	    {{ $conference.Content | markdownify }}
	  </div>
	</div>
  </div>
{{ end }}